body{
    font-family: 'Patua One', cursive;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 40px;
    color: orange;
}

.half-width{
    width: 36%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
section{
    height: 700px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, green, yellow);
    padding: 10px 20px;
    border-radius: 5px;
    font width: 700px;
    color: orange;
    box-shadow: 10px 10px 40px gray;
}